<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logos/logo.svg') }}">
</head>
<body>
<div class="chat-container">
    <div class="chat-window" id="chat-window">
    </div>

    <!-- Drag and drop area -->
    <div class="drop-area" id="drop-area">
        <p>Drag & drop files here or click to upload</p>
        <input type="file" id="fileInput" style="display: none;">
        <div class="file-info" id="file-info"></div>
    </div>

    <div class="input-container">
        <button class="icon-button" onclick="resetHistory()">
            <img src="{{ url_for('static', filename='logos/reset.svg') }}" alt="Reset" class="icon">
        </button>
        <textarea id="user-input" placeholder="Type your message here..." oninput="autoGrow(this)"></textarea>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="{{ url_for('static', filename='logos/methods.svg') }}" alt="Modes" class="icon"
                     id="mode-icon">
            </button>
            <div class="dropdown-content">
                <a href="#"
                   onclick="setMode('Socratic Approach', '{{ url_for('static', filename='logos/socrates.svg') }}')">Socratic
                    Approach</a>
                <a href="#" onclick="setMode('Error Finding', '{{ url_for('static', filename='logos/error.svg') }}')">Error
                    Finding</a>
                <a href="#" onclick="setMode('Homework Checker', '{{ url_for('static', filename='logos/book.svg') }}')">Homework
                    Checker</a>
            </div>
        </div>
        <button class="icon-button" onclick="sendMessage()">
            <img src="{{ url_for('static', filename='logos/send.svg') }}" alt="Send" class="icon">
        </button>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>